%title {
  font-weight: 800;
  font-size: 58px;
  line-height: 120%;
}
%subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

%text {
  font-size: 16px;
  font-weight: 500;
}

%main-text {
  font-size: 22px;
  font-weight: 500;
}

%link {
  font-size: 14px;
  font-weight: 700;
  line-height: 171%;
  color: $colorText;
  letter-spacing: 0.2px;
}
